<h1 style="text-align: center;">Add Students</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
                    <form>
                        <label for="name" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Enter name">
                        <label for="rollno" class="form-label">Roll Number</label>
                        <input type="text" [(ngModel)]="rollno" name="rollno" class="form-control" placeholder="Enter roll number">
                        <label for="admn_no" class="form-label">Admission Number</label>
                        <input type="text" [(ngModel)]="admn_no" name="admn_no" class="form-control" placeholder="Enter admission number">
                        <label for="college" class="form-label">College</label>
                        <input type="text" [(ngModel)]="college" name="college" class="form-control" placeholder="Enter college">
                        <br><button (click)="valueadd()" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
